.navbar-brand{
	color: white !important;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    transition: all 0.2s ease-in-out; 
   /* margin-bottom: 0;
    letter-spacing: -2px;
    font-size: 32px;
    font-weight: 700;*/
}
.modal-title{
	font-weight: bold;
}
.subtxt{
	color: grey;
}
.panel.panel-primary.product{
	border-radius: 0px;
	padding: 0px;
	margin: 2px;
}
.prod{
	padding: 10px;
}
.panel-body.product{
	padding: 10px 10px 10px 10px;
}
.wrapper-konten{
	background-color: white;
}
.breadcrumb{
	background-color: #f5f5f5;
}
.menutop{
	padding-top: 20px;
}
/*.navbar-static-top {	    
	padding: 15px;
}*/
pre {
	outline: 1px solid #ccc; 
	padding: 5px; 
	margin: 5px; 
}

.string { 
	color: green; 
}

.number { 
	color: darkorange; 
}

.boolean { 
	color: blue; 
}

.null { 
	color: magenta; 
}

.key { 
	color: red; 
}
.main-tittle{
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.login-panel {
    margin-top: 20px;
}
.nopad{
	padding-right: 0px;
	padding-left: 0px;
}
.noleft{
	padding-left: 0px;
	padding-right: 10px;
}
.noright{
	padding-right: 0px;
	padding-left: 10px;
}
.noradleft{
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}
.noradright{
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.martop{
	margin-top: 65px;
}
input.noradright{
	text-align: center;
}
#companyName, #companyAddress, #companyCity, #companyCountry, #contactName, #contactPosition, #staffUsername, #Username, #sellerid, #username{
	text-transform: uppercase;
}
#companyEmail, #emailAddress{
	text-transform: lowercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
.modal {
    overflow-x: hidden;
    overflow-y: auto;
}
@media only screen and (max-width: 991px) {
	.noleft{
		padding-left: 0px;
		padding-right: 0px;
	}
	.noright{
		padding-right: 0px;
		padding-left: 0px;
	}
	.martop.em{
		margin-top: 82px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-top-links {
	    display: none;
	}
	.navbar-brand {
		font-size: 15px;
	}
	.navbar-top-links li:last-child {
    	margin-right: 0px; 
	}
	.main-tittle{
		text-align: center;
	}
	.breadcrumb{
		text-align: center;
	}
	.menutop{
		text-align: right;
		padding-top: 0px;
	}
}
@media (min-width: 768px){
	.sidebar {
	    z-index: 1;
	    position: absolute;
	    width: 15%;
	    float: left;
	    margin-top: 0px;
	}
	.wrapper-konten{
		width: 85%;
		float: right;
		background-color: white;
	}
	/*.breadcrumb{
		background-color: white;
	}*/
	.container {
	    width: 100%;
	}
	.modal-dialog.view{
		width: 85%;
		padding-left: 0px;
	}
}