body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

table {
    font-size: 12px;
}

.container {
    margin-top: 10px;
}

.text-underline {
    text-decoration: underline;
}

#agama_lain {
    display: none;
    margin-top: 10px;
}